[Desktop Entry]
Categories=Game
Comment=A reverse-engineered port of Doom RPG
Exec=io.github.erick194.doomrpg-re.sh
Icon=io.github.erick194.doomrpg-re
Keywords=doom;doom rpg;rpg
Name=Doom RPG
StartupNotify=true
Terminal=false
Type=Application
