[Desktop Entry]
Categories=Game
Comment=Huge action-adventure platformer
Exec=se.remar.iji.sh
Icon=se.remar.iji
Keywords=indie;retro;platform;remar
Name=Iji
StartupNotify=true
Terminal=false
Type=Application
