[Flatpak Ref]
Name={{ app_id }}
Branch=stable
Title={{ app_name }}
Url=https://flatpak.yellowkeycard.net/
RuntimeRepo=https://dl.flathub.org/repo/flathub.flatpakrepo
IsRuntime=false
GPGKey={{ gpg_key }}
