<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ app.name }} on ykc flatpaks</title>
        <meta name="description" content="{{ app.summary }}" />

        <meta property="og:url" content="https://flatpak.yellowkeycard.net/apps/{{ app.id }}.html" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ app.name }} on ykc flatpaks" />
        <meta property="og:description" content="{{ app.summary }}" />
        <meta property="og:image" content="{{ app.icon_url }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/assets/favicon.svg" type="image/svg">
        <meta name="theme-color" content="#f5d505">

        <!-- Bootstrap 5 -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">

        <!-- Ko-fi button -->
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>

        <!-- Custom styles -->
        <link rel="stylesheet" href="/assets/styles.css">
        <link href="https://fonts.cdnfonts.com/css/jupiter-crash" rel="stylesheet">
    </head>

    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">yellow keycard flatpaks</a>
                <script type='text/javascript'>kofiwidget2.init('Buy me a coffee', '#f28705', 'A0A715O8WT');kofiwidget2.draw();</script>
            </div>
        </nav>

        <!-- Main content -->
        <main class="container">
            <div class="container listing-header">
                <div class="row">
                    <div class="col-2"><img class="app-icon" src="{{ app.icon_url}}" /></div>
                    <div class="col">
                        <div class="h1">
                            {{ app.name }}
                            {% if app.homepage_url -%}
                            <a class="homepage-link" href="{{ app.homepage_url }}"><i class="bi bi-house-fill"></i></a>
                            {% endif -%}
                        </div>
                        <div class="developer">by <a href="{{ app.developer_url }}">{{ app.developer_name }}</a></div>
                        <div class="bi bi-terminal-fill appid cmdline"> flatpak install {{ app.id }}</div>
                    </div>
                    <div class="col-2 align-self-center"><a class="btn-install btn btn-primary bi bi-cloud-arrow-down-fill" href="appstream://{{ app.id }}" role="button"> Install</a></div>
                </div>
            </div>

            <div id="screenshotCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {% for screenshot in app.screenshots -%}
                    {% if screenshot.type != "default" -%}
                    <div class="carousel-item">
                    {% else -%}
                    <div class="carousel-item active">
                    {% endif -%}
                        <img src="{{ screenshot.image }}" class="d-block" alt="{{ screenshot.caption }}" />
                        <div class="carousel-caption d-none d-md-block"><h5>{{ screenshot.caption }}</h5></div>
                    </div>
                    {% endfor -%}
                </div>

                <div class="carousel-indicators">
                    {% for screenshot in app.screenshots -%}
                    <button type="button" data-bs-target="#screenshotCarousel"
                        data-bs-slide-to="{{ loop.index0 }}"
                        aria-label="{{ screenshot.caption }}"
                        {% if screenshot.type == "default" -%}
                        class="active"
                        aria-current="true"
                        {% endif -%}></button>
                    {% endfor -%}
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#screenshotCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#screenshotCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

            <div class="container">
                {{ app.description }}
            </div>
        </main>

        <!-- Footer -->
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">🏳️‍🌈🏳️‍⚧️ respect my trans homies or i'm gonna identify as a fucking problem</span>
            </div>
        </footer>
    </body>
</html>
