.header {
    padding: 1em;
    margin-right: 0;
    margin-left: 0;
    min-height: 160px;
    width: 100%;
    background-color: lightsteelblue;
}

.header > div > h1 {
    font-weight: bold;
}

.homepage-link {
    font-size: .5em;
    margin-left: .5em;
}

.header > div > img {
    float: left;
    margin-right: 1em;
}

#dropdownMenuButton {
    float: right;
    margin-top: 1em;
    background-color: slateblue;
    color: aliceblue;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#dropdownMenuButton:hover {
    background-color: aliceblue;
    color: darkslateblue;
    transition: .4s;
}

.dropdown-menu > a:hover {
    background-color: slateblue !important;
    color: aliceblue !important;
}

.toast {
    position: absolute;
    z-index: 100;
    top: 5em;
    right: 1em;
    float: right;
}

.carousel-inner > div > img {
    height: 600px;
    width: 100%;
    object-fit: scale-down;
}

.carousel-caption {
    border-radius: 0.5em;
    background: #00000080;
    margin: 0 8em;
}

.carousel-control-prev-icon {
    border-radius: 0.5em;
    padding: 2em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='200' rx='30' ry='30' fill-opacity='.50'/%3E%3Cpath d='m121.57 162.4-62.395-62.395 62.395-62.395' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='40'/%3E%3C/svg%3E%0A");
}

.carousel-control-prev-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='200' rx='30' ry='30' fill-opacity='.75'/%3E%3Cpath d='m121.57 162.4-62.395-62.395 62.395-62.395' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='40'/%3E%3C/svg%3E%0A");
    transition: .4s;
}

.carousel-control-next-icon {
    border-radius: 0.5em;
    padding: 2em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='200' rx='30' ry='30' fill-opacity='.50'/%3E%3Cpath d='m78.434 162.4 62.395-62.395-62.395-62.395' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='40'/%3E%3C/svg%3E%0A");
}

.carousel-control-next-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='200' rx='30' ry='30' fill-opacity='.75'/%3E%3Cpath d='m78.434 162.4 62.395-62.395-62.395-62.395' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='40'/%3E%3C/svg%3E%0A");
    transition: .4s;
}
