[Flatpak Repo]
Title=Yellow Keycard
Url=https://flatpak.yellowkeycard.net/
Homepage=https://flatpak.yellowkeycard.net/
Comment=Retro game Flatpak builds
Description=Personal Flatpak repository
Icon=https://dl.flathub.org/repo/logo.svg
GPGKey={{ gpg_key }}
