[Desktop Entry]
Categories=Game
Comment=Tomb Raider fan game
Exec=com.google.sites.trwotw.sh
Icon=com.google.sites.trwotw
Keywords=fangame;tomb raider
Name=Tomb Raider: War of the Worlds
StartupNotify=true
Terminal=false
Type=Application
