[Desktop Entry]
Categories=Game
Comment=A reverse-engineered port of Heretic 2
Exec=heretic2r
Icon=io.github.m0rb.heretic2r
Keywords=heretic;doom;heretic 2;id;quake;fantasy
Name=Heretic2R
StartupNotify=true
Terminal=false
Type=Application
