[Desktop Entry]
Categories=Game
Comment=A Sonic the Hedgehog fan game
Exec=io.github.sonicgalactic.sh
Icon=io.github.sonicgalactic
Keywords=sonic;fangame;sonic the hedgehog
Name=Sonic Galactic
StartupNotify=true
Terminal=false
Type=Application
