[Desktop Entry]
Categories=Game;Development
Comment=Metroid Fangame and editor
Exec=com.metroidconstruction.metroid-planets.sh
Icon=com.metroidconstruction.metroid-planets
Keywords=fangame;metroid
Name=Metroid Planets
StartupNotify=true
Terminal=false
Type=Application
Actions=v127;v133;launcher

[Desktop Action launcher]
Name=Metroid Planets Launcher
Icon=com.metroidconstruction.metroid-planets
Exec=com.metroidconstruction.metroid-planets.launcher.sh

[Desktop Action v127]
Name=Metroid Planets v1.27 (with Novum world)
Icon=com.metroidconstruction.metroid-planets
Exec=com.metroidconstruction.metroid-planets.127.sh

[Desktop Action v133]
Name=Metroid Planets v1.33 (with Enigma world)
Icon=com.metroidconstruction.metroid-planets
Exec=com.metroidconstruction.metroid-planets.133.sh
