[Desktop Entry]
Categories=Game
Comment=Sprawling action-exploration shooter
Exec=se.remar.herocore.sh
Icon=se.remar.herocore
Keywords=indie;retro;shooter;remar
Name=Hero Core
StartupNotify=true
Terminal=false
Type=Application
