[Desktop Entry]
Categories=Game;Shooter
Comment=A sci-fi first person shooter with horror elements
Exec=io.github.glkarin.idtech4.d3xp.sh
Icon=io.github.glkarin.idtech4.d3xp
Keywords=doom;idtech;shooter;fps;expansion
Name=DOOM 3: Resurrection of Evil
PrefersNonDefaultGPU=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
