[Desktop Entry]
Categories=Game
Comment=Steampunk stealth game
Exec=com.thedarkmod.tdm.sh
Icon=com.thedarkmod.tdm
Keywords=fangame;thief;stealth
Name=The Dark Mod
StartupNotify=true
Terminal=false
Type=Application
