[Desktop Entry]
Categories=Game
Comment=Role-playing game
Exec=jp.ne.sakura.rpgex.littleworld.sh
Icon=jp.ne.sakura.rpgex.littleworld
Keywords=jrpg
Name=Hat World: New Testament
StartupNotify=true
Terminal=false
Type=Application
