[Desktop Entry]
Categories=Game
Comment=A Sonic the Hedgehog fan game
Exec=io.github.stardropsmh.sonic-and-the-fallen-star.sh
Icon=io.github.stardropsmh.sonic-and-the-fallen-star
Keywords=sonic;fangame;sonic the hedgehog;sage
Name=Sonic and the Fallen Star
StartupNotify=true
Terminal=false
Type=Application
