[Desktop Entry]
Categories=Game;Shooter
Comment=A sci-fi first person shooter
Exec=io.github.glkarin.quake4.sh
Icon=io.github.glkarin.quake4
Keywords=quake;shooter;fps
Name=Quake 4
PrefersNonDefaultGPU=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
