[Desktop Entry]
Categories=Game
Comment=Build game engine source port
Exec=net.duke4.m210.buildgdx.sh
Icon=net.duke4.m210.buildgdx
Keywords=indie;retro;shooter;fps
Name=BuildGDX
StartupNotify=true
Terminal=false
Type=Application
