[Desktop Entry]
Categories=Game;Development
Comment=Mega Man themed game making tool
Exec=com.megamanmaker.megamanmaker.sh
Icon=com.megamanmaker.megamanmaker
Keywords=fangame;mega man
Name=Mega Man Maker
StartupNotify=true
Terminal=false
Type=Application
